.navbar{
    height: 10vh;
    /* font-size: 1.2vmax; */
    align-items: center;
    /* position: fixed; */
    z-index: 55;
    top: 0;
    left: 0;
    -webkit-box-shadow: 3px 3px 6.5px -0.5px #000000;
-moz-box-shadow: 3px 3px 6.5px -0.5px #000000;
box-shadow: 3px 3px 6.5px -0.5px #000000;
}
.navbar > div{
    height: 100%;
    align-items: center;
    
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    outline: none;
    height: 100%;
    align-items: center;
    border-radius: 4vmax;
    z-index: 99;
    margin: 5px;
    aspect-ratio: 1/1;
    justify-content: center;
    
            border-radius: 50%;
    background: #334155;
    box-shadow:  5px 5px 12px #141a22,
    -5px -5px 12px #526888;
}

.menuDiv{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 55;
  
}
.menuInside{
  border: 10px solid #000000;
  /* margin: 3px; */
  width: 100%;
  height: 100%;

  }

  .menuOpen{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .shadow{
    border-radius: 15px;
background: #334155;
/* box-shadow: inset 8px 8px 16px #26303f,
            inset -8px -8px 16px #40526b; */
  }

  .shadow1{
    border-radius: 7px;
background: linear-gradient(45deg, #293241, #303c4d);
box-shadow:  4px -4px 7px #27303e,
             -4px 4px 7px #334052;
  }

  .shadow2{
    border-radius: 7px;
background: linear-gradient(45deg, #404d5f, #4c5b70);
box-shadow:  4px -4px 7px #3d495a,
             -4px 4px 7px #516178;
  }

  .logo{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .line {
    fill: none;
    stroke: #f0f0ff;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu:hover .line{
    stroke: #67e8f9;
  }
  .menu:hover{
    border-radius: 50%;
    background: #334155;
    box-shadow:  5px 5px 12px #141a22,
                 -5px -5px 12px #526888;
  }
  .menu:active{
    scale: 0.9;
    border-radius: 50%;
background: #334155;
box-shadow: inset 15px 15px 30px #141a22,
            inset -15px -15px 30px #526888;
  }
  
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }


  .linkTag{
    font-size: 5vmax;
  }
  .optionContainer{
    background: rgba(12, 19, 34, 0.822);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(15,23,42,0.25);
  }
  
  .glassDiv{
    background: rgba(71,85,105,0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(71,85,105,0.125);;
  }
  

  /*! search icon  */

  :root {
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
  }
  
  .searchBtn,
  .searchInput {
    font: 1em Hind, sans-serif;
    /* line-height: 1.5em; */
  }
  
  .searchInput {
    color: #171717;
  }
  .searchBar{
    z-index: 1;
    display: flex;
  }
  
  
  .searchBar .searchInput,
  .searchBtn,
  .searchBtn:before,
  .searchBtn:after {
    transition: all 0.25s ease-out;
  }
  .searchBar .searchInput,
  .searchBtn {
    width: 3em;
    height: 3em;
  }
  .searchBar .searchInput:invalid:not(:focus),
  .searchBtn {
    cursor: pointer;
  }
  .searchBar,
  .searchBar .searchInput:focus,
  .searchBar .searchInput:valid {
    width: 100%;
  }
  .searchBar .searchInput:focus,
  .searchBar .searchInput:not(:focus) + .searchBtn:focus {
    outline: transparent;
  }
  .searchBar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
  }
  .searchBar .searchInput {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #fff inset;
    padding: 0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .searchBar .searchInput::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .searchBar .searchInput:focus,
  .searchBar .searchInput:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
  }
  .searchBtn {
    background: #fff;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
  }
  .searchBtn:before,
  .searchBtn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .searchBtn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
  }
  .searchBtn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .searchBtn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  /* Active state */
  .searchBar .searchInput:focus + .searchBtn,
  .searchBar .searchInput:valid + .searchBtn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
  }
  .searchBar .searchInput:focus + .searchBtn:before,
  .searchBar .searchInput:focus + .searchBtn:after,
  .searchBar .searchInput:valid + .searchBtn:before,
  .searchBar .searchInput:valid + .searchBtn:after {
    opacity: 1;
  }
  .searchBar .searchInput:focus + .searchBtn:hover,
  .searchBar .searchInput:valid + .searchBtn:hover,
  .searchBar .searchInput:valid:not(:focus) + .searchBtn:focus {
    background: #0c48db;
  }
  .searchBar .searchInput:focus + .searchBtn:active,
  .searchBar .searchInput:valid + .searchBtn:active {
    transform: translateY(1px);
  }
  
  @media screen and (prefers-color-scheme: dark) {
    body,
    .searchInput {
      color: #f1f1f1;
    }
    body {
      background: #171717;
    }
    .searchBar .searchInput {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .searchBar .searchInput:focus,
    .searchBar .searchInput:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .searchBtn {
      background: #f1f1f1;
    }
  }
  