@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

/* ------------------------------
Upload button styling
------------------------------ */
:root{
    --colorBlackSoftest: #485461; /* softer black */
    --colorBlackSoft: #363F48; /* softer black */
    --colorBlackHard: #2d353c; /* harder black */
    --colorBlackHardest: #21282e; /* hardest black */
    --colorGreenLight: #65cca9; /* light green */
    --colorGreen: #29b586; /* medium green */
    --easeInOutQuartic: cubic-bezier(0.645, 0.045, 0.355, 1);
    
}
.upload {
  --colorBlackSoftest: #485461; /* softer black */
  --colorBlackSoft: #363F48; /* softer black */
  --colorBlackHard: #2d353c; /* harder black */
  --colorBlackHardest: #21282e; /* hardest black */
  --colorGreenLight: #65cca9; /* light green */
  --colorGreen: #29b586; /* medium green */
  --easeInOutQuartic: cubic-bezier(0.645, 0.045, 0.355, 1);

  position: relative;
  display: inline-flex;
  background: #485461;
  border-radius: 10px;
  box-shadow: 0 1.7px 1.4px rgba(0, 0, 0, 0.02),
    0 4px 3.3px rgba(0, 0, 0, 0.028), 0 7.5px 6.3px rgba(0, 0, 0, 0.035),
    0 13.4px 11.2px rgba(0, 0, 0, 0.042), 0 25.1px 20.9px rgba(0, 0, 0, 0.05),
    0 60px 50px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  transform: rotate(0);
}

.uploadInfo {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-right: 40px;
  fill: #fff;
  color: #fff;
}

.uploadFilename {
  padding-left: 8px;
  transition: opacity 300ms ease;
}

.inactive {
  opacity: 0.6;
}

.uploadButton {
  position: relative;
  margin: 0;
  font-size: 100%;
  padding: 0 8px;
  font-family: inherit;
  background: none;
  border: none;
  border-radius: inherit;
  outline: none;
}

.uploadButtonText {
  padding: 8px 16px;
  color: white;
  background-color: var(--colorGreen);
  border-radius: inherit;
  outline: none;
  cursor: pointer;
  transition: background-color 200ms ease, box-shadow 300ms ease;
}

.uploadButtonText:hover,
.uploadButtonText:focus {
  background-color: var(--colorGreenLight);
}

.uploadButtonTextInactive {
  background-color: rgba(255, 255, 255, 0.38);
  cursor: not-allowed;
}

.uploadHint {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  transform: translateY(100%);
}

.uploadProgress {
  position: absolute;
  top: 90%;
  left: -100%;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(270deg, rgba(135, 224, 194, 1) 0%, rgba(101, 204, 169, 1) 50%, rgba(38, 176, 130, 1) 100%);
  transform-origin: left;
}

.uploading .uploadButtonText {
  animation: fadeUpOut 0.4s 0.4s forwards, buttonPulse 500ms forwards;
}

.uploading .uploadInfo > * {
  animation: fadeUpOut 0.4s 0.4s forwards;
}

.uploading .uploadHint {
  animation: fadeUpIn 0.4s 0.8s forwards;
}

.uploading .uploadProgress {
  animation: loadRight 2s 1s var(--easeInOutQuartic) forwards;
  animation-iteration-count: infinite;
}

@keyframes buttonPulse {
  from {
    box-shadow: 0 0 0 0 var(--colorGreenLight);
  }
  to {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
}

@keyframes fadeUpOut {
  to {
    opacity: 0;
    transform: translateY(-40%);
  }
}

@keyframes fadeUpIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loadRight {
  0% {
    left: -100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  cursor: pointer;
}

.dropArea {
  border: 1px solid var(--colorBlackSoftest);
}

.dropAreaDroppable {
  border: 1px dashed rgba(255, 255, 255, 0.6);
}

.dropAreaHighlight {
  border: 1px dashed var(--colorGreen);
}

/* ------------------------------
Styling for the rest of the page
------------------------------ */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto, sans-serif;
  background: #2d353c;
  color: #ccc;
} */

.wrapper {
  text-align: center;
}

.uploadWrapper {
  display: inline-block;
  margin: 2rem auto 0; /* Centering the upload element */
}

h1,
h2 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 0.3em;
}
