.container,
.videoControls,
.videoTimer,
.options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
    display: flex;
}


#blurred {
  position: absolute;
  align-self: center;
  filter: blur(100px);
  width: 130%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  opacity: 0.5;
}
.makeActive{
  transition: all ease 0.2s !important;
}
.makeActive:hover{
  color: skyblue !important;
}
.makeActive:active{
  color: #3e97fd !important;
scale: 0.9 !important; 
}
.container {
  width: 98%;
  user-select: none;
  overflow: hidden;
  max-width: 900px;
  border-radius: 5px;
  background: #000;
  aspect-ratio: 16 / 9;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container.fullscreen {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  border-radius: 0px;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  bottom: -15px;
  transition: all 0.08s ease;
}

.container.showControls .wrapper {
  opacity: 1;
  bottom: 0;
  transition: all 0.13s ease;
}

.wrapper::before {
  content: "";
  bottom: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: calc(100% + 35px);
  pointer-events: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.videoTimeline {
  height: 7px;
  width: 100%;
  cursor: pointer;
}

.videoTimeline .progressArea {
  height: 3px;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}

.progressArea span {
  position: absolute;
  left: 50%;
  top: -25px;
  font-size: 13px;
  color: #fff;
  pointer-events: none;
  transform: translateX(-50%);
}

.progressArea .progressBar {
  width: 0%;
  height: 100%;
  position: relative;
  background: #2289ff;
}

.progressBar::before {
  content: "";
  right: 0;
  top: 50%;
  height: 13px;
  width: 13px;
  position: absolute;
  border-radius: 50%;
  background: #2289ff;
  transform: translateY(-50%);
}

.progressBar::before,
.progressArea span {
  display: none;
}

.videoTimeline:hover .progressBar::before,
.videoTimeline:hover .progressArea span {
  display: block;
}

.wrapper .videoControls {
  padding: 5px 20px 10px;
}

.videoControls .options {
  width: 100%;
}

.videoControls .options:first-child {
  justify-content: flex-start;
}

.videoControls .options:last-child {
  justify-content: flex-end;
}

.options button {
  height: 40px;
  width: 40px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  background: none;
  color: #efefef;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.options button :where(i, span) {
  height: 100%;
  width: 100%;
  line-height: 40px;
}

.options button:hover :where(i, span) {
  color: #fff;
}

.options button:active :where(i, span) {
  transform: scale(0.9);
}

.options button span {
  font-size: 23px;
}

.options input {
  height: 4px;
  margin-left: 3px;
  max-width: 75px;
  accent-color: #0078ff;
}

.options .videoTimer {
  color: #efefef;
  margin-left: 15px;
  font-size: 14px;
}

.videoTimer .separator {
  margin: 0 5px;
  font-size: 16px;
  font-family: "Open sans";
}

.playbackContent {
  display: flex;
  position: relative;
}

.playbackContent .speedOptions {
  position: absolute;
  list-style: none;
  left: -40px;
  bottom: 40px;
  width: 95px;
  overflow: hidden;
  opacity: 0;
  border-radius: 4px;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: opacity 0.13s ease;
}

.playbackContent .speedOptions.show {
  opacity: 1;
  pointer-events: auto;
}

.speedOptions li {
  cursor: pointer;
  color: #000;
  font-size: 14px;
  margin: 2px 0;
  padding: 5px 0 5px 15px;
  transition: all 0.1s ease;
}

.speedOptions li:where(:first-child, :last-child) {
  margin: 0px;
}

.speedOptions li:hover {
  background: #dfdfdf;
}

.speedOptions li.active {
  color: #fff;
  background: #3e97fd;
}

.container video {
  width: 100%;
}

@media screen and (max-width: 540px) {
  .wrapper .videoControls {
    padding: 3px 10px 7px;
  }

  .options input,
  .progressArea span {
    display: none!important;
  }

  .options button {
    height: 30px;
    width: 30px;
    font-size: 17px;
  }

  .options .videoTimer {
    margin-left: 5px;
  }

  .videoTimer .separator {
    font-size: 14px;
    margin: 0 2px;
  }

  .options button :where(i, span) {
    line-height: 30px;
  }

  .options button span {
    font-size: 21px;
  }

  .options .videoTimer,
  .progressArea span,
  .speedOptions li {
    font-size: 12px;
  }

  .playbackContent .speedOptions {
    width: 75px;
    left: -30px;
    bottom: 30px;
  }

  .speedOptions li {
    margin: 1px 0;
    padding: 3px 0 3px 10px;
  }

  .right .picInPic {
    display: none;
  }
}

.blur {
  width: 150%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(25px);
  position: absolute;
  left: 0;
  top: 0;
}

.gitIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  right: 20px;
  top: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #eee 2px 3px 10px;
  z-index: 2;
}

.gitIcon img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.gitIcon:hover {
  background-color: #ddd;
  box-shadow: #eee 3px 5px 10px;
}
