.dpDiv{
    border: 10px solid #475569;
    /* position: absolute; */
    
}
.profileInfoDiv{
    border-radius: 2vmax;
    -webkit-box-shadow: 0 0 5px -1px #000000;
-moz-box-shadow: 0 0 5px -1px #000000;
box-shadow: 0 0 5px -1px #000000;
}